# ignore 'originals' directories, which contain the original photos
# (get the originals at http://igwe.rave.org/~rdewaele/robots/)
ARDrone/photos/originals/
KheperaIII/photos/originals/
MindstormsNXT/photos/originals/
